@using CodingEvents.ViewModels;
@model AddEventViewModel; 

<h1>Add Event</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Type">Event Type</label>
        <select asp-for="Type" asp-items="Model.EventTypes"/>
    </div>
    <div asp-controller="Events" asp-actions="Add" class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactEmail">Contact Email</label>
        <input asp-for="ContactEmail" />
        <span asp-validation-for="ContactEmail"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" />
        <span asp-validation-for="Location"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumAttending"></label>
        <input asp-for="NumAttending" />
        <span asp-validation-for="NumAttending"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsRegistrationRequired"></label>
        <input asp-for="IsRegistrationRequired" />
        <span asp-validation-for="IsRegistrationRequired"></span>

    </div>
    <input type="submit" value="Add Event" />
</form>