@using CodingEvents.ViewModels;
@model AddEventViewModel; 

<h1>Add Event</h1>

<form method="post">
    <label for="Name">Event Name</label>
    <input type="text" name="Name" id="inputName"/>
    <label for="Description">Event Description</label>
    <input type="text" name="Description" id="inputDescription"/>
    <input type="submit" value="Add Event" />
</form>