@* 2. Update the Events/Add.cshtml template with a new field for a user to submit an event description.*@

<h1>Add Event</h1>

<form method="post">
    <label for="inputName">Event Name</label>
    <input type="text" name="inputName" id="inputName"/>
    <label for="inputDescription">Event Description</label>
    <input type="text" name="inputDescription" id="inputDescription"/>
    <input type="submit" value="Add Event" />
</form>