<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}

@* 4. Replace the ul with a table to display event names and descriptions.*@

<table>
    <tr>
        <th>Event Name</th>
        <th>Description</th>
    </tr>
    @foreach (Event eventData in ViewBag.events)
    {
    <tr>
        <td>@eventData</td>
    </tr>
    }
</table>

@*<ul>
    @foreach (string name in ViewBag.events)
    {
        <li>@name</li>
    }
</ul>*@

