@using CodingEvents.Models
@model List<EventCategory>

<h1>Event Categories</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    @foreach(EventCategory eventCategory in Model)
    {
        <tr>
            <td>@eventCategory.Id</td>
            <td>@eventCategory.Name</td>
        </tr>
    }
</table>